<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main_index.css">
</head>
<body>
<h1>Products</h1>

{% for all in todo %}
<h1 class="jst-text"> {{all.name}} - <a class="countries_id" href="/prod/{{all.id}}"> {{all.id}}</a> </h1>

{% endfor %}
<h1>Test_prod</h1>

{% for all in todo %}
<a class="jst-text" href="/prod/{{loop.index0}}"> {{all.name}}</a>

{% endfor %}
<form action="/countries/new" method="post">
    <label>ID</label>
    <input type="number" name="id"><br>
    <label>Название Дела</label><br>
            <input type="text" name="name"><br>
            <label>Статус</label><br>
            <input type="text" name="status"><br>
    <button class="button" type="submit">add task</button>



</form>


<a href='/' class="button">back</a>

</body>
</html>